<div class="home">
<img src="https://us.123rf.com/450wm/aquir/aquir1704/aquir170405300/76142005-members-only-round-grunge-black-stamp.jpg?ver=6" alt="members only"height="300" width="300"  > <br>
Everyone can see the posts,<br>
only logged in users can see the authors...<br>
<%= link_to new_user_path, class: "btn btn-black" do %>
      <span class="glyphicon glyphicon-trash"></span> Start talking trash now!
      <% end %><br>
 </div>

       