<div class="home">
<strong> Members Only</strong><br>
Everyone can see the posts,<br>
only logged in users can see the authors...<br>
<%= link_to new_user_path, class: "btn btn-black" do %>
      <span class="glyphicon glyphicon-trash"></span> Start talking trash now!
      <% end %>
 </div>

       